<div class="settings-header">
  <app-icon (click)="navigateTo('main')" name="back" />
  <h3>Account</h3>
  <div></div>
</div>
<div class="settings-section">
  <button class="setting-item" (click)="navigateTo('personal-details')">
    <div class="setting-item-content">
      <app-icon name="account" />
      <span>Persönliche Details</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>

  <button class="setting-item" (click)="navigateTo('change-password')">
    <div class="setting-item-content">
      <app-icon name="lock" />
      <span>Passwort ändern</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>

  <button class="setting-item" (click)="navigateTo('verification')">
    <div class="setting-item-content">
      <app-icon name="verified" />
      <span>Identitätsprüfung</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>

  <button class="setting-item" (click)="navigateTo('billing-cards')">
    <div class="setting-item-content">
      <app-icon name="card" />
      <span>Gespeicherte Karten & Zahlung</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>

  <button class="setting-item" (click)="navigateTo('tokens')">
    <div class="setting-item-content">
      <app-icon name="token" />
      <span>Token-Guthaben & Verlauf</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>

  <button class="setting-item" (click)="navigateTo('delete-account')">
    <div class="setting-item-content">
      <app-icon name="home" />
      <span>Konto löschen</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>
</div>
