<div class="settings-header">
  <app-icon (click)="navigateTo('main')" name="back" />
  <h3>{{ 'settings.account.title' | translate }}</h3>
  <div></div>
</div>
<div class="settings-section">
  <button class="setting-item" (click)="navigateTo('personal-details')">
    <div class="setting-item-content">
      <app-icon name="account" />
      <span>{{ 'settings.account.personalDetails' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>

  <button class="setting-item" (click)="navigateTo('change-password')">
    <div class="setting-item-content">
      <app-icon name="lock" />
      <span>{{ 'settings.account.changePassword' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>

  <button class="setting-item" (click)="navigateTo('verification')">
    <div class="setting-item-content">
      <app-icon name="verified" />
      <span>{{ 'settings.account.verification' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>

  <button class="setting-item" (click)="navigateTo('billing-cards')">
    <div class="setting-item-content">
      <app-icon name="card" />
      <span>{{ 'settings.account.billingCards' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>

  <button class="setting-item" (click)="navigateTo('tokens')">
    <div class="setting-item-content">
      <app-icon name="token" />
      <span>{{ 'settings.account.tokens' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>

  <button class="setting-item" (click)="navigateTo('delete-account')">
    <div class="setting-item-content">
      <app-icon name="home" />
      <span>{{ 'settings.account.deleteAccount' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>
</div>
