<div class="photo-slider" (scroll)="onGalleryScroll($event)">
  @for (photo of photos(); track $index) {
    <div class="photo-wrapper">
      @if (failedImages.has($index)) {
        <div class="photo-error">
          <app-icon name="dot" />
          <span>
            {{ 'photoSlider.imageUnavailable' | translate }}
          </span>
        </div>
      } @else {
        <img [src]="photo.url" [loading]="$index === 0 ? 'eager' : 'lazy'" alt="" (error)="imageFailed($index)" />
      }
    </div>
  }
</div>

@if (photos().length > 1) {
  <div class="photo-dots">
    @for (photo of photos(); track $index; let i = $index) {
      <span class="dot" [class.active]="getCurrentSlide() === i"></span>
    }
  </div>
}
