<div class="modal-backdrop">
  <div class="preview-modal">
    <h3>{{ 'modals.previewPhoto.title' | translate }}</h3>
    <div class="preview-image-container">
      <img [src]="previewUrlInput()" alt="Preview" />
    </div>
    <div class="modal-actions">
      <button class="btn-cancel" (click)="cancelPreview()" [disabled]="isUploading()">{{ 'modals.previewPhoto.cancel' | translate }}</button>
      <button class="btn-save" (click)="savePhoto()" [disabled]="isUploading()">
        @if (isUploading()) {
          {{ 'modals.previewPhoto.uploading' | translate }}
        } @else {
          {{ 'modals.previewPhoto.save' | translate }}
        }
      </button>
    </div>
  </div>
</div>
