<div class="modal-backdrop">
  <div class="preview-modal">
    <h3>{{ 'modals.previewMedia.title' | translate }}</h3>
    <div class="preview-image-container" [class.preview-image-container--gallery]="!isAvatar()">
      @if (isVideo()) {
        <video [src]="previewUrlInput()" controls muted playsinline></video>
      } @else {
        <img [src]="previewUrlInput()" alt="Preview" />
      }
    </div>
    <div class="modal-actions">
      <button class="btn-cancel" (click)="cancelPreview()" [disabled]="isUploading()">{{ 'modals.previewMedia.cancel' | translate }}</button>
      <button class="btn-save" (click)="saveMedia()" [disabled]="isUploading()">
        @if (isUploading()) {
          {{ 'modals.previewMedia.uploading' | translate }}
        } @else {
          {{ 'modals.previewMedia.save' | translate }}
        }
      </button>
    </div>
  </div>
</div>
