<app-settings-header [title]="'settings.mainSettings.title' | translate" />

<div class="settings-section">
  <button class="setting-item" (click)="navigateTo.emit('personal-details')">
    <div class="setting-item-content">
      <app-icon name="person" />
      <span>{{ 'settings.account.personalDetails' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>

  <button class="setting-item" (click)="navigateTo.emit('change-password')">
    <div class="setting-item-content">
      <app-icon name="lock" />
      <span>{{ 'settings.account.changePassword' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>

  <button class="setting-item" (click)="navigateTo.emit('verification')">
    <div class="setting-item-content">
      <app-icon name="verified" />
      <span>{{ 'settings.account.verification' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>

  @if (!isCreator()) {
    <button class="setting-item" (click)="navigateTo.emit('billing-cards')">
      <div class="setting-item-content">
        <app-icon name="card" />
        <span>{{ 'settings.account.billingCards' | translate }}</span>
      </div>
      <app-icon class="forward-icon" name="back" />
    </button>

    <button class="setting-item" (click)="navigateTo.emit('tokens')">
      <div class="setting-item-content">
        <app-icon name="token" />
        <span>{{ 'settings.account.tokens' | translate }}</span>
      </div>
      <app-icon class="forward-icon" name="back" />
    </button>
  } @else {
    <button class="setting-item" (click)="navigateTo.emit('payout-details')">
      <div class="setting-item-content">
        <app-icon name="card" />
        <span>{{ 'settings.account.payoutDetails' | translate }}</span>
      </div>
      <app-icon class="forward-icon" name="back" />
    </button>
  }

  <button class="setting-item" (click)="navigateTo.emit('language')">
    <div class="setting-item-content">
      <app-icon name="language" />
      <span>{{ 'settings.mainSettings.language' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>

  <button class="setting-item" (click)="navigateTo.emit('appearance')">
    <div class="setting-item-content">
      <app-icon name="moon" />
      <span>{{ 'settings.mainSettings.appearance' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>

  <button class="setting-item" (click)="navigateTo.emit('help')">
    <div class="setting-item-content">
      <app-icon name="help" />
      <span>{{ 'settings.mainSettings.help' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>

  <button class="setting-item" (click)="navigateTo.emit('delete-account')">
    <div class="setting-item-content">
      <app-icon name="home" />
      <span>{{ 'settings.account.deleteAccount' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>
</div>

<div class="settings-section logout-section">
  <button class="btn-primary-danger" [disabled]="authService.interactionInProgress()" (click)="authService.logout()">
    {{ 'settings.mainSettings.logout' | translate }}
  </button>
</div>
