<app-settings-header [title]="'settings.mainSettings.title' | translate" icon="close" (back)="close.emit()" />

<div class="settings-section">
  <button class="setting-item" (click)="navigateTo.emit('account')">
    <div class="setting-item-content">
      <app-icon name="account" />
      <span>{{ 'settings.mainSettings.account' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>
  <button class="setting-item" (click)="navigateTo.emit('bookmark')">
    <div class="setting-item-content">
      <app-icon name="bookmark" />
      <span>{{ 'settings.mainSettings.bookmark' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>
  <button class="setting-item" (click)="navigateTo.emit('archive')">
    <div class="setting-item-content">
      <app-icon name="archive" />
      <span>{{ 'settings.mainSettings.archive' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>
  <button class="setting-item" (click)="navigateTo.emit('notifications')">
    <div class="setting-item-content">
      <app-icon name="notifications" />
      <span>{{ 'settings.mainSettings.notifications' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>
  <button class="setting-item" (click)="navigateTo.emit('privacy')">
    <div class="setting-item-content">
      <app-icon name="privacy" />
      <span>{{ 'settings.mainSettings.privacy' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>
  <button class="setting-item" (click)="navigateTo.emit('blocked')">
    <div class="setting-item-content">
      <app-icon name="blocked" />
      <span>{{ 'settings.mainSettings.blocked' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>
  <button class="setting-item" (click)="navigateTo.emit('language')">
    <div class="setting-item-content">
      <app-icon name="language" />
      <span>{{ 'settings.mainSettings.language' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>
  <button class="setting-item" (click)="navigateTo.emit('appearance')">
    <div class="setting-item-content">
      <app-icon name="moon" />
      <span>{{ 'settings.mainSettings.appearance' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>
  <button class="setting-item" (click)="navigateTo.emit('accessibility')">
    <div class="setting-item-content">
      <app-icon name="accessibility" />
      <span>{{ 'settings.mainSettings.accessibility' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>
  <button class="setting-item" (click)="navigateTo.emit('help')">
    <div class="setting-item-content">
      <app-icon name="help" />
      <span>{{ 'settings.mainSettings.help' | translate }}</span>
    </div>
    <app-icon class="forward-icon" name="back" />
  </button>
</div>

<div class="settings-section logout-section">
  <button class="btn-primary-danger" [disabled]="authService.interactionInProgress()" (click)="authService.logout()">
    {{ 'settings.mainSettings.logout' | translate }}
  </button>
</div>
