<!--<app-debug />-->

<!-- Global Error / Notification Banner -->
@if (notificationService.message()) {
  <div class="global-notification-banner" [class.success]="notificationService.type() === 'success'">
    <span>{{ notificationService.message() }}</span>
    <button class="close-btn" (click)="notificationService.clear()">×</button>
  </div>
}
<main class="main-content">

  @if (!userService.isLoggedIn()) {
    <app-auth />
  } @else {
    <div class="view-container">
      <router-outlet />
    </div>
  }

  <app-nav />
</main>
