<app-chat-header (event)="onBackClicked()" [user]="user()" />

<cdk-virtual-scroll-viewport
  #scrollViewport
  autosize
  [minBufferPx]="400"
  [maxBufferPx]="800"
  class="chat-messages"
  (scroll)="onViewportScroll($event)"
>
  <div
    *cdkVirtualFor="let msg of chatService.messages(); trackBy: trackByMessageId"
    class="message-row-wrapper"
    [attr.data-message-id]="msg.id"
  >
    <div class="message-timestamp" [class.visible]="activeMessageId() === msg.id">
      {{ msg.createdAt?.toDate() | date: 'shortTime' }}
    </div>

    <div
      class="message-row"
      [class.outgoing]="msg.uid === currentUid()"
      [class.incoming]="msg.uid !== currentUid()"
      [style.transform]="'translateX(' + (messageOffsets()[msg.id!] || 0) + 'px)'"
      (touchstart)="onTouchStart(msg.id, $event)"
      (touchmove)="onTouchMove($event)"
      (touchend)="onTouchEnd()"
      (touchcancel)="onTouchEnd()"
    >
      <div class="message-bubble">
        <p>{{ msg.text }}</p>
      </div>
    </div>
  </div>
</cdk-virtual-scroll-viewport>

<app-chat-input (messageSent)="scrollToBottom()" />
