<div class="actions">
  <div class="left-actions">
    <button class="action-btn">
      <app-icon name="heart" />
      <span>19.8 Tsd.</span>
    </button>

    <button class="action-btn">
      <app-icon name="comment" />
      <span>667</span>
    </button>

    <button class="action-btn">
      <app-icon name="repost" />
      <span>40</span>
    </button>

    <button class="action-btn">
      <app-icon name="share" />
    </button>
  </div>

  <button class="action-btn bookmark">
    <app-icon name="bookmark" />
  </button>
</div>
