<div
  class="stack"
  (touchstart)="onTouchStart($event)"
  (touchmove)="onTouchMove($event)"
  (touchend)="onTouchEnd()"
  (touchcancel)="onTouchEnd()"
>
  @if (isLoading()) {
    <div class="loading">
      {{ 'home.loadingProfiles' | translate }}
    </div>
  } @else if (users().length === 0) {
    <p class="end-message">
      {{ 'home.seenAllFiles' | translate }}
    </p>
  } @else {
    @for (user of users(); track user.uid; let i = $index) {
      @if (cardOffset(i)) {
        <div class="stack-card" [class.stack-card--dragging]="dragOffset() !== 0" [style.transform]="cardTransform(i)">
          <app-card [user]="user" />
        </div>
      }
    }
  }
</div>
