<div class="settings-header">
  <app-icon (click)="goBack()" name="back" />
  <h3>{{ 'settings.changePassword.title' | translate }}</h3>
  <button class="btn-primary" type="submit"
          [attr.form]="!isReauthenticated() ? 'currentPasswordForm' : 'newPasswordForm'" [disabled]="isLoading()">
    @if (isLoading()) {
      {{ 'settings.changePassword.saving' | translate }}
    } @else {
      {{ 'settings.changePassword.save' | translate }}
    }
  </button>
</div>

<!-- SUCCESS MESSAGE (Shown on success, independent of active step) -->
@if (successMessage()) {
  <p class="success-message">{{ successMessage() }}</p>
}

<!-- STEP 1: Ask for current password first -->
<div class="settings-body">
  @if (!isReauthenticated()) {
    <form id="currentPasswordForm" (submit)="verifyCurrentPassword(); $event.preventDefault()" class="password-form">
      <div class="form-group">
        <label for="currentPassword">{{ 'settings.changePassword.currentPassword' | translate }}</label>
        <input type="password" id="currentPassword" [(ngModel)]="currentPasswordInput" name="currentPasswordInput"
               required />
      </div>

      @if (errorMessage()) {
        <p class="error-message">{{ errorMessage() }}</p>
      }
    </form>
  } @else {
    <!-- STEP 2: Hide old password, show new password & confirmation fields -->
    <form id="newPasswordForm" (submit)="updateNewPassword(); $event.preventDefault()" class="password-form">
      <div class="form-group">
        <label for="newPassword">{{ 'settings.changePassword.newPassword' | translate }}</label>
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required />
      </div>

      <div class="form-group">
        <label for="confirmPassword">{{ 'settings.changePassword.confirmPassword' | translate }}</label>
        <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required />
      </div>

      @if (errorMessage()) {
        <p class="error-message">{{ errorMessage() }}</p>
      }
    </form>
  }

  <div class="settings-section">
    <div class="setting-item">{{ 'settings.changePassword.formDescription' | translate }}</div>
  </div>
</div>
